<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Taipei Day Trip Website</title>
	<meta name="day trip" content="taipei attractions recommendation">
	<meta name="author" content="Yun">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/booking.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    
    <style>
        .tappay-field-focus {
            border-color: #448899;;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
        }
        .has-error .tappay-field-focus {
            border-color: #843534;
            color:#843534;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
        }
        .has-success .tappay-field-focus {
            border-color: #2b542c;
            color:#2b542c;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
        }
    </style>
</head>
<body>
    <div id="overlay" onclick="cancel()"></div>
    <div id="loginDiv">
        <img src="/icon_close.png" onclick="cancel()">
        <div class="loginTopPadding"></div>
        <div class="loginTitle">登入會員帳號</div>
        <input id="loginEmail" type="email" class="loginSignupInput" name="loginEmail" placeholder="輸入電子郵件信箱" required>
        <input id="loginPassword" type="password" class="loginSignupInput" name="loginPassword" placeholder="輸入密碼" required>
        <button id="loginBtn">登入帳戶</button>
        <div id="loginMessage"></div>
        <div id="loginSignupBlock" onclick="toSignupDiv()">還沒有帳戶？點此註冊</div>
    </div>
    <div id="signupDiv">
        <img src="/icon_close.png" onclick="cancel()">
        <div class="signupTopPadding"></div>
        <div class="signupTitle">註冊會員帳號</div>
        <input id="signupName" type="text" class="loginSignupInput" name="signupName" placeholder="輸入姓名" required>
        <input id="signupEmail" type="email" class="loginSignupInput" name="signupEmail" placeholder="輸入電子郵件信箱" required>
        <input id="signupPassword" type="password" class="loginSignupInput" name="signupPassword" placeholder="輸入密碼" required>
        <input id="signupPasswordCheck" type="password" class="loginSignupInput" name="signupPasswordCheck" placeholder="確認密碼" required>
        <button id="signupBtn">註冊新帳戶</button>
        <div id="signupMessage"></div>
        <div id="signupLogInBlock" onclick="toLoginDiv()">已經有帳戶了？點此登入</div>
    </div>

    <div style="height:54px"></div>

    <div class="nav">
	    <div class="navBar">
		    <p class="navText"><a class="indexLink" href="/">台北一日遊</a></p>
		    <ul class="indexMenu">
			    <li><a href="" id="navBooking">預定行程</a></li>
                <li><a style="color:#666666" onclick="logout()" id="navInUp"></a></li>
		    </ul>
	    </div>
    </div>

    <div class="wrapper">
        <div class="greetings"></div>
        <div id="withoutBooking">目前沒有任何待預定的行程</div>
        <div id="bookingInfo">
            <div id="attractionPicDiv"><img id="attractionPic"></div>
        </div>
        <div id="attractionInfo" style="width:100%">
            <div class="subHeading" style="margin: 0 0 30px 0;color: #448899;">台北一日遊：<span id="attractionName"></span></div>
            <div class="subHeading" style="margin-bottom: 20px;">日期：<span id="date" style="font-weight: 400;"></span></div>
            <div class="subHeading" style="margin-bottom: 20px;">時間：<span id="time" style="font-weight: 400;"></span></div>
            <div class="subHeading" style="margin-bottom: 20px;">費用：<span style="font-weight: 400;">新台幣&nbsp</span><span id="price" style="font-weight: 400;"></span><span style="font-weight: 400;">&nbsp元</span></div>
            <div class="subHeading" >地點：<span id="address" style="font-weight: 400;"></span></div>
        </div>    
        <div class="delete">
            <img id="deleteIcon" src="/icon_delete.png">
        </div>
        <hr class="hr"/> 
        <div id="contactInfo" style="width:100%">
              
            <div class="heading" style="margin:44px 0 31px 0">您的聯絡資訊</div>
            <div class="subHeading" style="margin-bottom:29px;font-weight: 400;">聯絡姓名：
                <input id="contactName" type="text" name="contactName" value="">
            </div>
            <div class="subHeading" style="margin-bottom:29px;font-weight: 400;">聯絡信箱：
                <input id="contactEmail" type="text" name="contactEmail" value="">
            </div>
            <div class="subHeading" style="margin-bottom:27px;font-weight: 400;">手機號碼：
                <input id="phoneNums" type="text" name="phoneNums">
            </div>
            <div class="heading" style="margin-bottom:40px;font-size: 16px;line-height: 23px;">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式</div>
            
        </div>
        <hr class="hr"/> 
        <div id="cardInfo" style="width:100%">
            <div class="heading" style="margin:44px 0 31px 0">信用卡付款資訊</div>
            <form>
                <div class="form-group card-number-group">
                    <label for="card-number" class="control-label" style="font-size:16px;color:#666666;font-weight: 400;"><span id="cardtype" style="font-size:16px;color:#666666;font-weight: 400;"></span>卡片號碼：</label>
                    <div class="form-control card-number" style="width:200px;height:38px;display:inline-block;transform:translateY(12px);border:1px solid #E8E8E8"></div>
                </div>
                <div class="form-group expiration-date-group">
                    <label for="expiration-date" class="control-label" style="font-size:16px;color:#666666;font-weight: 400;">過期時間：</label>
                    <div class="form-control expiration-date" id="tappay-expiration-date" style="width:200px;height:38px;display:inline-block;transform:translateY(12px);border:1px solid #E8E8E8"></div>
                </div>
                <div class="form-group cvc-group">
                    <label for="cvc" class="control-label" style="font-size:16px;color:#666666;font-weight: 400;">驗證密碼：</label>
                    <div class="form-control cvc" style="width:200px;height:38px;display:inline-block;transform:translateY(12px);border:1px solid #E8E8E8"></div>
                </div>
                <hr class="hr" id="hr3"/>   
                <div id="paymentInfo" class="subHeading">
                    <div style="float:right">總價：新台幣<span id="totalPrice"></span><span>元</span></div><br/>
                    <button class="submitBtn" id="confirmOrder" style="margin-top:25px;float:right">確認訂購並付款</button>
                </div>
            </form>
        </div>
    </div>

    <div id="footer">
        <p id="footerText"><b>COPYRIGHT@2021台北一日遊</b></p>
    </div>

    <script src="/bookingDebounce.js"></script>
    <script src="/bookingLogInAndSignUp.js"></script>
    <script src="/bookingOnload.js"></script>
    <script src="/bookingDelete.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://js.tappaysdk.com/tpdirect/v5.9.0"></script>
    <script src="/order.js"></script>    
    <script src="/tpSetup.js"></script>

</body>
</html>