<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Taipei Day Trip Website</title>
	<meta name="day trip" content="taipei attractions recommendation">
	<meta name="author" content="Yun">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/index.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div id="overlay" onclick="cancel()"></div>
    <div id="loginDiv">
        <img src="/icon_close.png" onclick="cancel()">
        <div class="loginTopPadding"></div>
        <div class="loginTitle">登入會員帳號</div>
        <input id="loginEmail" type="email" name="loginEmail" placeholder="輸入電子郵件信箱" required>
        <input id="loginPassword" type="password" name="loginPassword" placeholder="輸入密碼" required>
        <button id="loginBtn">登入帳戶</button>
        <div id="loginMessage"></div>
        <div id="loginSignupBlock" onclick="toSignupDiv()">還沒有帳戶？點此註冊</div>
    </div>
    <div id="signupDiv">
        <img src="/icon_close.png" onclick="cancel()">
        <div class="signupTopPadding"></div>
        <div class="signupTitle">註冊會員帳號</div>
        <input id="signupName" type="text" name="signupName" placeholder="輸入姓名" required>
        <input id="signupEmail" type="email" name="signupEmail" placeholder="輸入電子郵件信箱" required>
        <input id="signupPassword" type="password" name="signupPassword" placeholder="輸入密碼" required>
        <input id="signupPasswordCheck" type="password" name="signupPasswordCheck" placeholder="確認密碼" required>
        <button id="signupBtn">註冊新帳戶</button>
        <div id="signupMessage"></div>
        <div id="signupLogInBlock" onclick="toLoginDiv()">已經有帳戶了？點此登入</div>
    </div>

    <div style="height:54px"></div>

    <div class="nav">
	    <div class="navBar">
		    <p class="navText"><a class="indexLink" href="/">台北一日遊</a></p>
		    <ul class="indexMenu">
			    <li><a id="navBooking">預定行程</a></li>
                <li><a onclick="logInOrSignUp()" id="navInUp"></a></li>
		    </ul>
	    </div>
    </div>

	<div class="header">
        <div class="headerContainer">
            <div class="headerText1">輕鬆享受台北一日悠閒</div>
            <div class="headerText2">探索每個角落，體驗城市的深度旅遊行程</div>
            <input id="searchInput" type="text" placeholder="輸入景點名稱查詢">
            <img id="searchBtnBackground" src="/bg.png">
            <img id="searchBtnIcon" src="/icon_search.png" title="點我搜尋">
            <img class="welcomePic" src="/welcome 1.png">
        </div>
    </div>
    
    <div id="errorMessage"></div>

    <div class="wrapper">
        <div id="attractionsContainer"></div>
        <div id="footer">
            <p id="footerText"><b>COPYRIGHT@2021台北一日遊</b></p>
        </div>
    </div>

    <script src="/indexOnload.js"></script>
    <script src="/indexScroll.js"></script>
    <script src="/indexSearch.js"></script>
    <script src="/logInAndSignUp.js"></script>
    <script src="/bookingSchedule.js"></script>

</body>
</html>